<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главное меню</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Online Shop</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/my-computers}">Мои компьютеры</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shop}">Покупка компьютеров</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" th:href="@{/logout}">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Карусель -->
    <div class="container mt-4">
        <div id="computerCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/pc1.jpg" class="d-block w-100" alt="Компьютер 1">
                </div>
                <div class="carousel-item">
                    <img src="/img/pc2.jpg" class="d-block w-100" alt="Компьютер 2">
                </div>
                <div class="carousel-item">
                    <img src="/img/pc3.jpg" class="d-block w-100" alt="Компьютер 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#computerCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#computerCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
